 .card-digimon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .8rem;

    width: 20rem;

    padding: 1rem;

    border-radius: 25px;
    box-shadow: 0 0 25px #acacac;

    transition: .3s;
 }

 .card-digimon:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #6595ac;
    z-index: 1;
 }

 .card-digimon img {
    width: 90%;
    height: auto;

    border-radius: 50%;
    box-shadow: 0 0 10px #acacac;
 }

 .card-header_title {
    font-size: 2rem;
    font-weight: 700;
    
    color: #456595;
 }
 
.card-digimon_header p {
   font-size: 1.5rem;   
   color: #656565;
}

 .card-digimon_header span {
    font-size: 1.5rem;
    color: #000;
 }